include _mixins
block header
    header.header
            nav.nav.nav--is-open
                .header__logo
                    a(href='#')
                        img(src="images/logo.png")
                .header__icon-menu
                    .header__icon-menu-list
                    .header__icon-menu-list-a
                .header__nav-bar
                    ul.nav__item
                        li
                            a(href="#") Start
                        li
                            a(href="#") Programs
                        li
                            a(href="#") Explorer
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Contacts

            .header__description
                h1.maintitle YoMuDo Studio
                h2.subtitle Your Melody Start Here
                h2.subtitle_caption Create Beautiful Melody For Someone You Love

                button.btn.btn__begin Get Started