include _mixins
block header
    header
        .header
            .header__hero
                .header__hero--logo
                    img(src='images/logo.png')
                .header__hero-menu
                    .header__hero-menu--mobile
                        <i class="fa fa-align-right" aria-hidden="true"></i>
            .header__description
                h3 Make Beautiful
                h2 Melody
            .header__icon-start
                <i class="fa fa-chevron-down" aria-hidden="true"></i>