-var pageTitle = 'Yamudo Music'

doctype html
html
    head
        meta(name="viewport" content="width=device-width")
        title #{pageTitle}
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css',rel='stylesheet')
    body
        block header
        block container
        block footer
            //<a href="http://www.freepik.com">Designed by jcomp / Freepik</a>
